body {
  color: aliceblue;
  background-image: url(img/Gradient.jpeg);
  background-size: cover;
  font-weight: 20;
  font-family: Traviata, regular;
  src:local(/Users/Arianna/Downloads/VJ\Traviata/Traviata.otf)
}

/* header  */
.icon_sun {
  position: relative;
  left: 1700px;
  top: 20px;
}

/* main  */

h1 {
  position: relative;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 200px;
}

h2 {
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 60px;
}

.sx {
  margin-top: 150px;
  margin-right: 550px;
  float: right;
  font-size: 30px;ì
}

.dx {
  margin-top: 150px;
  margin-left: 550px;
  float:left;
  font-size: 30px;
}

/* footer  */
h4 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 470px;
  left: -700px;
}

.arrow {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 430px;
  left: -710px;
}



